*.Po
*.o
*.lo
*.tar.gz
*.tar.bz2
Makefile
Makefile.in
/aclocal.m4
/autom4te.cache
/config.guess
/config.log
/config.status
/config.sub
/configure
/contextd/contextd
/contextd/contextd.vala.stamp
/contextd/hal_plugin.c
/contextd/lowmem_plugin.c
/contextd/main.c
/contextd/org.maemo.contextd.service
/contextd/plugin.c
/depcomp
/install-sh
/libtool
/ltmain.sh
/m4
/missing
/tests/contextd_tests/context_provider.c
/tests/contextd_tests/hal_plugin.c
/tests/contextd_tests/libhal.c
/tests/contextd_tests/plugin.c
/tests/contextd_tests/test_hal_plugin
/tests/contextd_tests/test_hal_plugin.c
/tests/contextd_tests/test_hal_plugin.vala.stamp
/build-stamp
*.debhelper.log
/debian/tmp
