*.Po
*.o
*.lo
*.tar.gz
*.tar.bz2
*.gcno
*.gcda
*.la
*.a
*.moc
Makefile
Makefile.in
/aclocal.m4
/autom4te.cache
/config.guess
/config.log
/config.status
/config.sub
/configure
/contextd/src/contextd
/contextd/org.maemo.contextd.service
/depcomp
/install-sh
/libtool
/ltmain.sh
/m4
/missing
/build-stamp
*.debhelper.log
/debian/tmp
.deps
.libs
common/libcommon.la
libcontextsubscriber-plugins/bluez/libcontextsubscriberbluez.la
moc_*_h.cpp
mocs.cpp
coverage/
Makefile.coverage

