Source: contextkit-maemo
Section: misc
Priority: optional
Maintainer: Marius Vollmer <marius.vollmer@nokia.com>
Build-Depends: debhelper (>= 5),
               automake (>= 1:1.10),
               autoconf,
               libtool,
               python-central,
               libcontextprovider-dev (>= 0.3),
               libcontextsubscriber-dev (>= 0.3),
               libqt4-dev,
               doxygen
XS-Python-Version: all
Standards-Version: 3.8.0

Package: contextd
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: contextkit
Description: dameon that implements some context properties
 ContextKit is a system for providing real-time context awareness to
 applications.
 .
 This package provides the session-activated D-Bus daemon.

Package: contextd-dbg
Priority: extra
Architecture: any
Depends: contextd (= ${binary:Version})
Description: dameon that implements some context properties
 ContextKit is a system for providing real-time context awareness to
 applications.
 .
 This package contains the debug symbols for the daemon.

Package: contextd-tests
Section: devel
Architecture: any
Depends: python-contextkit, contextd
Recommends: python2.5, python (>= 2.5)
XB-Python-Version: ${python:Versions}
Description: contextd automated customer tests
 .
 This package contains an automated customer testsuite of the contextd daemon.

Package: libcontextsubscriberbluez
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: A libcontextsubscriber plugin providing Bluetooth properties.
 ContextKit is a system for providing real-time context awareness to
 applications.
 .
 This package provides the Bluez plugin for libcontextsubscriber.

Package: libcontextsubscriberbluez-dbg
Priority: extra
Architecture: any
Depends: contextd (= ${binary:Version})
Description: dameon that implements some context properties
 ContextKit is a system for providing real-time context awareness to
 applications.
 .
 This package contains the debug symbols for the Bluez plugin for libcontextsubscriber.
