Source: contextkit-maemo
Section: misc
Priority: optional
Maintainer: Marius Vollmer <marius.vollmer@nokia.com>
Build-Depends: debhelper (>= 5),
               automake (>= 1:1.10),
               autoconf,
               libtool,
               python-central,
               libcontextprovider-dev (>= 0.3),
               libcontextsubscriber-dev (> 0.4),
               libqt4-dev,
	       libx11-dev,
               doxygen
XS-Python-Version: all
Standards-Version: 3.8.0

Package: contextd
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: contextkit
Description: daemon that implements some context properties
 ContextKit is a system for providing real-time context awareness to
 applications.
 .
 This package provides the session-activated D-Bus daemon.

Package: contextd-dbg
Priority: extra
Architecture: any
Depends: contextd (= ${binary:Version})
Description: daemon that implements some context properties
 ContextKit is a system for providing real-time context awareness to
 applications.
 .
 This package contains the debug symbols for the daemon.

Package: contextd-tests
Section: devel
Architecture: any
Depends: python-contextkit, contextkit-utils, contextd
Recommends: python2.5, python (>= 2.5)
XB-Maemo-CI-Packages: contextd
XB-Maemo-CI-Stage: acceptance, validation
XB-Python-Version: ${python:Versions}
Description: contextd automated customer tests
 .
 This package contains an automated customer testsuite of the contextd daemon.

Package: context-bluetooth
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Replaces: libcontextsubscriberbluez (<< 0.7.2)
Conflicts: libcontextsubscriberbluez (<< 0.7.2)
Description: A libcontextsubscriber plugin providing Bluetooth properties.
 ContextKit is a system for providing real-time context awareness to
 applications.
 .
 This package provides the Bluez plugin for libcontextsubscriber.

Package: context-bluetooth-dbg
Priority: extra
Architecture: any
Depends: context-bluetooth (= ${binary:Version})
Description: A libcontextsubscriber plugin providing Bluetooth properties.
 ContextKit is a system for providing real-time context awareness to
 applications.
 .
 This package contains the debug symbols for the Bluez plugin for libcontextsubscriber.

Package: context-bluetooth-tests
Section: devel
Architecture: any
Depends: ${shlibs:Depends}, contextkit-utils, python-contextkit, context-bluetooth, ci-testing
Recommends: python2.5, python (>= 2.5)
XB-Maemo-CI-Packages: context-bluetooth
XB-Maemo-CI-Stage: acceptance, validation
XB-Python-Version: ${python:Versions}
Description: Automated customer tests for context-bluetooth.
 .
 This package contains an automated customer test suite of the libcontextsubscriber Bluez plugin.

Package: context-session
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Replaces: libcontextsubscribersession (<< 0.7.2)
Conflicts: libcontextsubscribersession (<< 0.7.2)
Description: A libcontextsubscriber plugin providing the Session.State property.
 ContextKit is a system for providing real-time context awareness to
 applications.
 .
 This package contains the Session.State plugin for libcontextsubscriber.

Package: context-session-dbg
Priority: extra
Architecture: any
Depends: context-session (= ${binary:Version})
Description: A libcontextsubscriber plugin providing the Session.State property.
 ContextKit is a system for providing real-time context awareness to
 applications.
 .
 This package contains the Session.State plugin for libcontextsubscriber.

Package: context-session-tests
Section: devel
Architecture: any
Depends: ${shlibs:Depends}, contextkit-utils, python-contextkit, context-session, ci-testing
Recommends: python2.5, python (>= 2.5)
XB-Maemo-CI-Packages: context-session
XB-Maemo-CI-Stage: acceptance, validation
XB-Python-Version: ${python:Versions}
Description: Automated customer tests for context-session.
 .
 This package contains an automated customer test suite of the libcontextsubscriber session plugin.

Package: context-profile
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: A libcontextsubscriber plugin providing the profile property.
 ContextKit is a system for providing real-time context awareness to
 applications.
 .
 This package contains the profile plugin for libcontextsubscriber.

Package: context-profile-dbg
Priority: extra
Architecture: any
Depends: context-profile (= ${binary:Version})
Description: A libcontextsubscriber plugin providing the profile property.
 ContextKit is a system for providing real-time context awareness to
 applications.
 .
 This package contains the profile plugin for libcontextsubscriber.
